body {
  overflow-x: hidden;
}

/* navbar section */
#navbar {
  background-color: #130d0b;
}
.navbar__section {
  background: linear-gradient(#130d0b, #808080) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.nav__item__list {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
}
.nav-item {
  margin: 0rem 1rem !important;
  color: white !important;
}
.nav-link {
  color: white !important;
}
.search__bar {
  border-radius: 5px !important;
  color: #808080 !important;
  width: 100% !important;
}
.search__bar__input {
  background-color: #130d0b !important;
  border: 1px solid #808080 !important;
  border-radius: 50px !important;
  color: #808080 !important;
  width: 100% !important;
  padding: 0.4rem 0.7rem !important;
  margin: 0rem 5rem;
  color: white !important;
}
.login__button {
  background-color: #130d0b !important;
  border: 1px solid #808080 !important;
  border-radius: 50px !important;
  color: #808080 !important;
  width: auto !important;
  padding: 0.4rem 0.7rem !important;
  margin: 0rem 5rem;
}

/* Hero section */
#hero-section {
  background: linear-gradient(#130d0b, #808080) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.hero__heading {
  color: white !important;
  font-family: "Abril Fatface";
  font-size: 3rem;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: left;
}

.hero__subheading {
  color: white !important;
  font-family: "Abril Fatface";
  font-size: 2.4rem;
  font-style: normal;
  font-variant: small-caps;
  /* font-weight: 700; */
  line-height: 1.5rem;
}

.hero__btn {
  background-color: #130d0b !important;
  border: 1px solid #808080 !important;
  border-radius: 50px !important;
  color: #808080 !important;
  width: auto !important;
  padding: 0.4rem 0.7rem !important;
  margin: 0rem 5rem;
}
.hero__btn:hover {
  background-color: #808080 !important;
  border: 1px solid #130d0b !important;
  border-radius: 50px !important;
  color: #130d0b !important;
  width: auto !important;
  padding: 0.4rem 0.7rem !important;
  margin: 0rem 5rem;
}
/* Mobile (up to 767px) */
@media only screen and (max-width: 767px) {
  .hero__heading {
    font-size: 2rem;
  }
}

/* Tablet (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hero__heading {
    font-size: 2.5rem;
  }
}

/* Trending Section (used by all crousel containers)*/
#trending,
#trending1 {
  background: linear-gradient(#130d0b, #808080) !important;
  /* display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important; */
  width: 100vw;
  overflow-x: hidden;
}
.card-title {
  color: white !important;
}
.card-text {
  color: black !important;
}
.skill-container {
  text-align: center;
  width: 160px;
  height: 200px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.circular-container {
  width: 150px;
  height: 150px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}

.skill-image {
  width: 100%;
  height: 70%;
  max-height: 70%;
  object-fit: cover;
  overflow: hidden;
}
.circular-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skill-name {
  height: 30%;
  padding: 0rem 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.skill-name p,
.skill-name a {
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: #130d0b;
}

.skill-name a {
  text-decoration: underline;
}

.card {
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

@media (max-width: 992px) {
  .skill-container {
    width: 100%;
    height: auto;
    margin: 10px;
  }

  .skill-image {
    height: 60%;
  }

  .skill-name {
    font-size: 0.5rem;
    text-align: center;
  }

  .skill-name p,
  .skill-name a {
    font-size: 0.5rem;
  }
}

@media (max-width: 400px) {
  .skill-container {
    width: 90%;
    height: auto;
    margin: 10px;
  }

  .skill-image {
    height: 50%;
  }

  .skill-name {
    font-size: 0.4rem;
  }
}

/* Style for each item */
.owl-carousel .item {
  padding: 10px;
}

/* Style for the skill container */
.skill-container {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style for the skill image */
.skill-image {
  width: 100%;
  height: auto;
}

.skill-name {
  text-align: center;
}

/* Style for the card title (skill name) */
.card-title {
  font-size: 18px;
  margin-bottom: 0;
}
.trending__heading,
.title {
  /* color: white !important; */
  font-family: "holtwood one sc";
  font-size: 2rem !important;
  z-index: 9999999;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bolder !important;
  line-height: 1.5rem;
  text-transform: uppercase;
  /* letter-spacing: 0.2rem; */
  text-align: left !important;
  padding-left: 2rem;
}
.owl-next,
.owl-prev {
  transform: translateY(-50%);
  color: white !important;
  font-size: 3rem !important;
}
.owl-prev:hover,
.owl-next:hover {
  /* color: #130d0b !important; */
  background: transparent !important;
}

/* promo section */
#subscription-section {
  background: linear-gradient(#130d0b, #808080) !important;
  font-family: "Irish Grover";
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.subscription__heading {
  color: white !important;
  font-family: "Irish Grover";
  font-size: 3rem;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 700;
  line-height: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: left;
}
.subscription__subheading {
  color: white !important;
  font-family: "Inria Serif";
  font-size: 2rem;
  font-style: normal;
  font-variant: small-caps;
  /* font-weight: 700; */
  line-height: 1.5rem;
}
.input-with-button {
  display: flex;
  align-items: center;
}

.input-with-button input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

/* Style for the button */
.input-with-button button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #f0f0f0;
  border-radius: 0 0.5rem 0.5rem 0;
  /cursor: pointer;
  outline: none;
}

/* Hover styles for the button */
.input-with-button button:hover {
  background-color: #ddd;
}

/* Footer section */
#footer {
  background: linear-gradient(#130d0b, #808080) !important;
}
.web__name {
  font-family: "Irish Grover";
}
